.mobile {
  align-items: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 0px;
  position: relative;
}

.mobile .scroll-button {
  height: 57px;
  left: 1769px;
  position: absolute;
  top: 871px;
  width: 57px;
}

.mobile .vector {
  height: 26px;
  left: 3567px;
  position: absolute;
  top: 6505px;
  width: 17px;
}

.mobile .bg {
  border: 1px solid;
  border-color: #000000;
  border-radius: 50px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  width: 57px;
}

.mobile .max {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.mobile .header {
  align-items: center;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 18px;
  position: relative;
  width: 100%;
}

.mobile .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: 100%;
  z-index: 1;
}

.mobile .text-wrapper {
  color: #484848;
  font-family: "Volkhov", Helvetica;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 52px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile .icon-iconoir-menu {
  height: 51px;
  position: relative;
  width: 48px;
}

.mobile .div {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 36px;
  position: relative;
  width: 100%;
  z-index: 0;
}

.mobile .image {
  align-self: stretch;
  height: 489px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mobile .overlap-group {
  background-color: #b0bbbd;
  border-radius: 10px;
  height: 756px;
  position: relative;
  width: 343px;
}

.mobile .img {
  height: 489px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 343px;
}

.mobile .frame-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 37px;
  height: 756px;
  position: relative;
  width: 100%;
}

.mobile .images {
  align-self: stretch;
  height: 151px;
  position: relative;
  width: 100%;
}

.mobile .image-2 {
  height: 145px;
  left: 2px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 338px;
}

.mobile .text-button {
  align-self: stretch;
  height: 382px;
  position: relative;
  width: 100%;
}

.mobile .frame-3 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 382px;
  position: relative;
  width: 343px;
}

.mobile .ultimate {
  height: 91px;
  position: relative;
  width: 181px;
}

.mobile .text-wrapper-2 {
  color: #484848;
  font-family: "Poppins", Helvetica;
  font-size: 91px;
  font-weight: 500;
  left: 0;
  letter-spacing: -3.64px;
  line-height: 91px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.mobile .text-wrapper-3 {
  -webkit-text-stroke: 1px #484848;
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 187px;
  font-weight: 500;
  letter-spacing: -10.29px;
  line-height: 187px;
  margin-left: -11.5px;
  margin-right: -9.5px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.mobile .text-wrapper-4 {
  color: #484848;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: normal;
  position: relative;
  text-align: center;
  width: fit-content;
}

.mobile .button {
  all: unset;
  box-sizing: border-box;
  height: 56px;
  position: relative;
  width: 209px;
}

.mobile .div-wrapper {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0px 20px 35px #00000026;
  height: 56px;
  position: relative;
  width: 207px;
}

.mobile .text-wrapper-5 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 71px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.mobile .images-2 {
  align-self: stretch;
  background-image: url(../../../static/img/image.png);
  background-size: 100% 100%;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.mobile .overlap-wrapper {
  align-self: stretch;
  height: 574px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mobile .overlap {
  background-color: #d9e4ea;
  border-radius: 10px;
  height: 756px;
  position: relative;
  width: 343px;
}

.mobile .image-3 {
  height: 568px;
  left: 20px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 307px;
}

.mobile .logos {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  justify-content: center;
  padding: 10px 0px;
  position: relative;
  width: 100%;
}

.mobile .bg-2 {
  align-self: stretch;
  background-color: #ffffff;
  box-shadow: 0px 20px 52.29px #4444440a;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.mobile .logos-2 {
  height: 36px;
  left: 320px;
  position: absolute;
  top: 82px;
  width: 1280px;
}

.mobile .logo {
  height: 27px;
  left: 3854px;
  position: absolute;
  top: 4486px;
  width: 184px;
}

.mobile .logo-2 {
  height: 32px;
  left: -232px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 196px;
}

.mobile .logo-3 {
  height: 33px;
  left: 2758px;
  object-fit: cover;
  position: absolute;
  top: 4486px;
  width: 196px;
}

.mobile .logo-4 {
  height: 25px;
  left: -320px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 10px;
}

.mobile .logo-5 {
  height: 33px;
  left: 36px;
  position: absolute;
  top: 0;
  width: 19px;
}

.mobile .new-arrivals-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  padding: 0px 5px;
  position: relative;
  width: 100%;
}

.mobile .new-arrivals {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 50px;
  position: relative;
  width: 100%;
}

.mobile .categories {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 60px;
  justify-content: center;
  padding: 30px 0px 0px;
  position: relative;
  width: 100%;
}

.mobile .category {
  flex: 1;
  flex-grow: 1;
  height: 56px;
  max-width: 240px;
  min-width: 160px;
  position: relative;
}

.mobile .overlap-group-2 {
  background-color: #fafafa;
  border-radius: 10px;
  height: 56px;
  position: relative;
  width: 240px;
}

.mobile .text-wrapper-6 {
  color: #8a8a8a;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 103px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 32px;
}

.mobile .products {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 60px 60px;
  justify-content: center;
  max-width: 1440px;
  position: relative;
  width: 100%;
}

.mobile .product {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 40px 90px #0000000f;
  height: 438px;
  margin-left: -10.5px;
  margin-right: -10.5px;
  position: relative;
  width: 386px;
}

.mobile .texts {
  height: 131px;
  left: 25px;
  position: absolute;
  top: 271px;
  width: 342px;
}

.mobile .text-wrapper-7 {
  color: #484848;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 500;
  left: 0;
  letter-spacing: -0.24px;
  line-height: 20px;
  position: absolute;
  top: 111px;
  white-space: nowrap;
}

.mobile .text-wrapper-8 {
  color: #ff4646;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 242px;
  letter-spacing: -0.12px;
  line-height: 20px;
  position: absolute;
  text-align: right;
  top: 111px;
  white-space: nowrap;
}

.mobile .element {
  color: #484848;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 68px;
}

.mobile .span {
  font-weight: 500;
}

.mobile .text-wrapper-9 {
  font-family: "PingFang SC-Medium", Helvetica;
  font-weight: 500;
}

.mobile .stars {
  height: 19px;
  left: 241px;
  position: absolute;
  top: 6px;
  width: 95px;
}

.mobile .name-brand {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 51px;
}

.mobile .text-wrapper-10 {
  color: #8a8a8a;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 12px;
  position: absolute;
  top: 31px;
  white-space: nowrap;
}

.mobile .text-wrapper-11 {
  color: #484848;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.mobile .images-3 {
  height: 244px;
  left: 25px;
  position: absolute;
  top: 15px;
  width: 336px;
}

.mobile .text-wrapper-12 {
  color: #484848;
  font-family: "Poppins", Helvetica;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
}

.mobile .name-brand-2 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.mobile .images-4 {
  height: 244px;
  left: 25px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  width: 336px;
}

.mobile .name-brand-3 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 84px;
}

.mobile .name-brand-4 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 64px;
}

.mobile .name-brand-5 {
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 113px;
}

.mobile .text-wrapper-13 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 87px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 20px;
  white-space: nowrap;
}

.mobile .section {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 60px 16px 56px;
  position: relative;
  width: 100%;
}

.mobile .container {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: var(--shadow-dark-XL);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 32px 16px;
  position: relative;
  width: 100%;
}

.mobile .deco-video {
  height: 386px;
  left: -49px;
  position: absolute;
  top: 279px;
  width: 440px;
}

.mobile .overlap-2 {
  height: 386px;
  position: relative;
}

.mobile .overlap-group-3 {
  height: 386px;
  left: 0;
  position: absolute;
  top: 0;
  width: 440px;
}

.mobile .rectangle {
  background-color: var(--amber-200);
  height: 135px;
  left: -13px;
  position: absolute;
  top: 126px;
  transform: rotate(-45deg);
  width: 411px;
}

.mobile .rectangle-2 {
  background-color: var(--fuchsia-700);
  border-radius: 30px;
  height: 46px;
  left: 283px;
  opacity: 0.75;
  position: absolute;
  top: 280px;
  width: 46px;
}

.mobile .rectangle-3 {
  background-color: var(--amber-700);
  border-radius: 30px;
  height: 56px;
  left: 34px;
  opacity: 0.75;
  position: absolute;
  top: 98px;
  width: 56px;
}

.mobile .rectangle-4 {
  background-color: var(--pink-700);
  border-radius: 50px;
  height: 135px;
  left: 306px;
  opacity: 0.75;
  position: absolute;
  top: 231px;
  width: 135px;
}

.mobile .rectangle-5 {
  background-color: var(--blue-light700);
  border-radius: 50px;
  height: 37px;
  left: 317px;
  opacity: 0.75;
  position: absolute;
  top: 28px;
  width: 36px;
}

.mobile .div-2 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.mobile .div-3 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.mobile .secondary-headline {
  align-self: stretch;
  color: var(--blue-gray900);
  font-family: var(--heading-2-font-family);
  font-size: var(--heading-2-font-size);
  font-style: var(--heading-2-font-style);
  font-weight: var(--heading-2-font-weight);
  letter-spacing: var(--heading-2-letter-spacing);
  line-height: var(--heading-2-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.mobile .div-4 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 100%;
}

.mobile .list-item-with {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.mobile .icon-jam-icons {
  height: 24px;
  position: relative;
  width: 24px;
}

.mobile .text {
  color: var(--blue-gray900);
  flex: 1;
  font-family: var(--body-m-font-family);
  font-size: var(--body-m-font-size);
  font-style: var(--body-m-font-style);
  font-weight: var(--body-m-font-weight);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  margin-top: -2px;
  position: relative;
}

.mobile .text-container-wrapper {
  all: unset;
  align-items: center;
  border: 2px solid;
  border-color: var(--amber-900);
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 16px;
  position: relative;
}

.mobile .text-container {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
}

.mobile .button-text {
  color: var(--amber-900);
  font-family: var(--button-l-font-family);
  font-size: var(--button-l-font-size);
  font-style: var(--button-l-font-style);
  font-weight: var(--button-l-font-weight);
  letter-spacing: var(--button-l-letter-spacing);
  line-height: var(--button-l-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile .screen-desktop {
  align-self: stretch;
  height: 312px;
  margin-bottom: -63px;
  margin-left: -32px;
  margin-right: -32px;
  position: relative;
  width: 100%;
}

.mobile .rectangle-6 {
  background-color: var(--green-700);
  border-radius: 50px;
  height: 50px;
  left: 59px;
  opacity: 0.75;
  position: absolute;
  top: 581px;
  width: 49px;
}

.mobile .section-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
}

.mobile .section-2 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 48px 16px;
  position: relative;
  width: 100%;
}

.mobile .secondary-headline-2 {
  align-self: stretch;
  color: var(--blue-gray900);
  font-family: var(--heading-5-font-family);
  font-size: var(--heading-5-font-size);
  font-style: var(--heading-5-font-style);
  font-weight: var(--heading-5-font-weight);
  letter-spacing: var(--heading-5-letter-spacing);
  line-height: var(--heading-5-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.mobile .button-2 {
  all: unset;
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 12px 0px;
  position: relative;
}

.mobile .button-text-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  justify-content: center;
  padding: 0px 16px 0px 0px;
  position: relative;
}

.mobile .button-text-2 {
  color: var(--amber-900);
  font-family: var(--button-m-font-family);
  font-size: var(--button-m-font-size);
  font-style: var(--button-m-font-style);
  font-weight: var(--button-m-font-weight);
  letter-spacing: var(--button-m-letter-spacing);
  line-height: var(--button-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile .vector-2 {
  height: 327px;
  left: 0;
  position: absolute;
  top: 1628px;
  width: 375px;
}

.mobile .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  position: relative;
  width: 100%;
}

.mobile .content-box {
  align-items: center;
  align-self: stretch;
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--blue-gray200);
  border-radius: 10px;
  box-shadow: var(--shadow-dark-l);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mobile .picture {
  align-self: stretch;
  background-image: url(../../../static/img/picture-3.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.mobile .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 16px;
  padding: 16px 16px 0px;
  position: relative;
  width: 100%;
}

.mobile .title-category {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
  width: 100%;
}

.mobile .title-container {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
  width: 100%;
}

.mobile .title {
  color: var(--blue-gray900);
  flex: 1;
  font-family: var(--heading-6-font-family);
  font-size: var(--heading-6-font-size);
  font-style: var(--heading-6-font-style);
  font-weight: var(--heading-6-font-weight);
  letter-spacing: var(--heading-6-letter-spacing);
  line-height: var(--heading-6-line-height);
  margin-top: -1px;
  position: relative;
}

.mobile .paragraph {
  align-self: stretch;
  color: var(--blue-gray900);
  font-family: var(--body-l-font-family);
  font-size: var(--body-l-font-size);
  font-style: var(--body-l-font-style);
  font-weight: var(--body-l-font-weight);
  letter-spacing: var(--body-l-letter-spacing);
  line-height: var(--body-l-line-height);
  position: relative;
}

.mobile .buttons-group {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 16px;
  position: relative;
  width: 100%;
}

.mobile .picture-2 {
  align-self: stretch;
  background-image: url(../../../static/img/picture-2.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.mobile .picture-3 {
  align-self: stretch;
  background-image: url(../../../static/img/picture-1.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.mobile .picture-4 {
  align-self: stretch;
  background-image: url(../../../static/img/picture.png);
  background-position: 50% 50%;
  background-size: cover;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.mobile .footer {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--blue-gray900);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 0px 16px;
  position: relative;
  width: 100%;
}

.mobile .columns {
  align-items: flex-start;
  align-self: stretch;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--blue-gray700);
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  padding: 48px 0px;
  position: relative;
  width: 100%;
}

.mobile .div-5 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.mobile .footer-components {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 12px 0px;
  position: relative;
  width: 100%;
}

.mobile .link-name {
  color: var(--white);
  font-family: var(--subtitle-m-font-family);
  font-size: var(--subtitle-m-font-size);
  font-style: var(--subtitle-m-font-style);
  font-weight: var(--subtitle-m-font-weight);
  letter-spacing: var(--subtitle-m-letter-spacing);
  line-height: var(--subtitle-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile .link-name-2 {
  color: var(--blue-gray200);
  font-family: var(--body-m-font-family);
  font-size: var(--body-m-font-size);
  font-style: var(--body-m-font-style);
  font-weight: var(--body-m-font-weight);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile .button-3 {
  align-self: stretch;
  height: 46px;
  position: relative;
  width: 100%;
}

.mobile .google-play-wrapper {
  all: unset;
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  height: 46px;
  justify-content: center;
  position: relative;
}

.mobile .google-play {
  height: 40px;
  margin-right: -2px;
  position: relative;
  width: 137px;
}

.mobile .overlap-group-4 {
  background-image: url(../../../static/img/vector-7.svg);
  background-size: 100% 100%;
  height: 40px;
  position: relative;
  width: 135px;
}

.mobile .vector-3 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 135px;
}

.mobile .text-wrapper-14 {
  -webkit-text-stroke: 0.2px #ffffff;
  border-color: var(--white);
  color: var(--white);
  font-family: "Open Sans", Helvetica;
  font-size: 8.4px;
  font-weight: 400;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
}

.mobile .vector-4 {
  height: 17px;
  left: 41px;
  position: absolute;
  top: 17px;
  width: 85px;
}

.mobile .vector-5 {
  height: 13px;
  left: 10px;
  position: absolute;
  top: 19px;
  width: 16px;
}

.mobile .vector-6 {
  height: 11px;
  left: 20px;
  position: absolute;
  top: 14px;
  width: 13px;
}

.mobile .vector-7 {
  height: 21px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 11px;
}

.mobile .vector-8 {
  height: 13px;
  left: 10px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.mobile .link-name-wrapper {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  justify-content: center;
  padding: 48px 0px 12px;
  position: relative;
  width: 100%;
}

.mobile .link-name-3 {
  color: var(--blue-gray200);
  font-family: var(--subtitle-m-font-family);
  font-size: var(--subtitle-m-font-size);
  font-style: var(--subtitle-m-font-style);
  font-weight: var(--subtitle-m-font-weight);
  letter-spacing: var(--subtitle-m-letter-spacing);
  line-height: var(--subtitle-m-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.mobile .footer-components-2 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.mobile .bottom {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 48px 0px;
  position: relative;
  width: 100%;
}

.mobile .p {
  align-self: stretch;
  color: var(--blue-gray200);
  font-family: var(--body-m-font-family);
  font-size: var(--body-m-font-size);
  font-style: var(--body-m-font-style);
  font-weight: var(--body-m-font-weight);
  letter-spacing: var(--body-m-letter-spacing);
  line-height: var(--body-m-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
}

.mobile .footer-components-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 32px;
  justify-content: flex-end;
  position: relative;
}

.mobile .vector-9 {
  height: 20px;
  position: relative;
  width: 20px;
}
